.DS_Store
*.swf
*.cache
Build/Debug/*
Build/Release/*
Build/Package/*
*.tmproj
Libraries/endlesspathsflex4com.swc
build.properties
.settings/*
.project
.flexProperties
.actionScriptProperties
.externalToolBuilders