@namespace s "library://ns.adobe.com/flex/spark";
@namespace ep "library://com.endlesspaths.skins.*";

s|HScrollBar
{
    skinClass: ClassReference("com.endlesspaths.skins.HScrollBarSkin");
}

s|HSlider
{
    skinClass: ClassReference("com.endlesspaths.skins.HSliderSkin");
}

s|VSlider
{
    skinClass: ClassReference("com.endlesspaths.skins.VSliderSkin");
}

s|VScrollBar
{
    skinClass: ClassReference("com.endlesspaths.skins.VScrollBarSkin");
}

s|List
{
	contentBackgroundColor: #dee4ea;
    skinClass: ClassReference("com.endlesspaths.skins.ListSkin");
}